body {
  background-color: whitesmoke;
}

h1 {
  text-align: left;
  font-family: 'Albert Sans', sans-serif;
  padding-left: 15px;
}

.descripcion {
  font-family: 'Albert Sans', sans-serif;
  font-size: 25px;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 80px;
  padding-bottom: 0px;
}


form>p {
  color: black;
  font-family: 'Albert Sans', sans-serif;
  font-size: 15px;
  padding-top: 0px;
  padding-right: 180px;
  padding-bottom: 10px;
  padding-left: 80px;
  background-color: whitesmoke;
}

input[type=text] {
  padding: 0px 20px;
  margin: 8px 0;
  background-color: whitesmoke;
  border: none;
  border-bottom: 2px solid rgb(234, 188, 238);
  color: black;
  outline: none;
  width: 100%;
  text-align: left;
}

input[type=text]:focus {
  border: 1px lightgrey;
}

textarea {
  resize: none;
  width: 100%;
  padding: 0px 20px;
  margin: 8px 0;
  background-color: whitesmoke;
  border: none;
  border-bottom: 2px solid rgb(234, 188, 238);
  color: black;
  outline: none;
  text-align: left;
}

input[type=submit] {
  background-color: whitesmoke;
  border: none;
  color: rgb(223, 176, 228);
  text-decoration: none;
  cursor: pointer;
  font-family: 'Albert Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding-left: 82%;
}

a:link {
  color: black;
  font-size: 30px;
  font-family: 'Libre Caslon Text', serif;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  font-size: 30px;
  font-family: 'Libre Caslon Text', serif;
  text-decoration: none;
  font-style: italic;
  color: rgb(223, 176, 228);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
  transform: rotate(180deg);
  color: rgb(223, 176, 228);
}

.volver {
  padding-left: 12px;
  padding-top: 40px;

}

footer {
  font-family: 'Albert Sans', sans-serif;
  font-size: 15px;
  padding-left: 15px;
  bottom: 0px;
}